In [1]:
import pandas as pd

In [19]:
# Load csv file
jeopardy_df= pd.read_csv('../Jeopardy/Jeopardy_Data/jeopardy.csv')
pd.set_option('display.max_colwidth', -1)

In [20]:
jeopardy_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [ ]:
# Rename the columns, eliminating dead speace 
jeopardy_df.rename(columns={
    ' Air Date': 'Air Date',
    ' Round': 'Round',
    ' Category': 'Category',
    ' Value': 'Value',
    ' Question': 'Question',
    ' Answer': 'Answer'
}, inplace=True)

In [ ]:
# Clean dataframe 
jeopardy_df.head()

In [ ]:
def filter_data(data, words):
    # Lowercases all words in the list of words as well as the questions. Returns true is all of the words in the list appear in the question.
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    # Applies the labmda function to the Question column and returns the rows where the function returned True
    
    return data.loc[data["Question"].apply(filter)]

In [ ]:
filtered_df = filter_data(jeopardy_df,['King', 'England'])

In [ ]:
filtered_df.head()

In [ ]:
# Adding a new column. If the value of the float column is not "None", 
# then we cut off the first character (which is a dollar sign), 
# and replace all commas with nothing, and then cast that value to a float. 
# If the answer was "None", then we just enter a 0.

jeopardy_df["Float Value"] = jeopardy_df["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

In [ ]:
# Filtering the dataset and finding the average value of those questions
filtered = filter_data(jeopardy_df, ["King"])
print(filtered["Float Value"].mean())

In [ ]:
# A function to find the unique answers of a set of data
def get_answer_counts(data):
    return data["Answer"].value_counts()

In [ ]:
# Testing the answer count function
print(get_answer_counts(filtered))